#messages {
    width: 500px; 
    word-wrap: break-word;
}


.chat {
    display: flex;
    
    /* column reverse to have chat-style message ordering*/
    flex-direction: column-reverse;
  }
  
  .message {
    border: 1px gray;
    margin: 5px;
    padding: 5px;
    width: 60%;
  }
  
  .message.out {
    background: rgb(220, 248, 198);
    
    /* use align-self */
    align-self: flex-end;
  }
  .message.in {
    background: white;
  }